<?xml version="1.0"?> 
<!--       
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="saplogin.aspx" timeout="120"/>
    </authentication>
    <sessionState timeout="300"/>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="error.html"/>
    </customErrors>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" executionTimeout="3600" maxRequestLength="1024000" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="3600" delayNotificationTimeout="3600" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
  </system.web>
  <connectionStrings>
    <add name="vindb" connectionString="Data Source=|DataDirectory|bifpc.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="dprdb" connectionString="Data Source=|DataDirectory|dpr.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="hrdb" connectionString="Data Source=|DataDirectory|hr.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="ssodb" connectionString="Data Source=|DataDirectory|sso.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="appsdb" connectionString="Data Source=|DataDirectory|apps.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="logdb" connectionString="Data Source=|DataDirectory|log.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
    <add name="gpdb" connectionString="Data Source=|DataDirectory|gp.db;Version=3;New=False;Compress=True;password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <urlCompression doStaticCompression="true"/>
    <!--   for bifpcl.net* -->
    <!--  <rewrite>
    <rules> 
      <rule name="Rewrite to Category">
        <match url="(.*)" />
<conditions>
    <add input="{HTTP_HOST}" negate="true" pattern="^bifpcl\.com$" />
  </conditions>
        <action type="Redirect" url="http://bifpcl.com/{R:1}" />
      </rule>
    </rules> 
  </rewrite>-->
    <!--   for bifpcl.com* -->
    <!--  <rewrite> 
    <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://www.bifpcl.com/{R:1}" />
        </rule>
    </rules>
</rewrite>-->
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/http404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <location path="Default.aspx">
    <system.net>
      <defaultProxy>
        <proxy proxyaddress="http://10.0.236.36:8080" bypassonlocal="True"/>
      </defaultProxy>
    </system.net>
  </location>
</configuration>